rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Consente a un utente di leggere e scrivere solo i propri documenti.
    // L'ID utente nel percorso del documento deve corrispondere all'ID utente dell'autenticazione.
    match /users/{userId}/characters/{characterId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}